<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">Discus</title>
    <link rel="icon" type="image/x-icon" href="https://d1nhio0ox7pgb.cloudfront.net/_img/i_collection_png/512x512/plain/bone.png">
</head>

<body>
    <div th:insert="fragments/header :: sightHeader"></div>
    <!-- Code goes here! -->
    <h1>Oops! Something went wrong!</h1>
    <label th:text="${errorDataDTO.errorMessage}"></label>
    <label th:text="${errorDataDTO.errorCode}"></label>
    <a class="button-link" href="/home"></a>
    <div th:insert="fragments/footer :: sightfooter"></div>
</body>

</html>